.dbconfig defensive off
BEGIN;
PRAGMA writable_schema = on;
PRAGMA foreign_keys = off;
PRAGMA encoding = 'UTF-8';
PRAGMA page_size = '4096';
PRAGMA auto_vacuum = '0';
PRAGMA user_version = '0';
PRAGMA application_id = '0';
CREATE TABLE "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
CREATE TABLE "regions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "nameJa" TEXT NOT NULL,
    "nameCn" TEXT NOT NULL,
    "nameEn" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
, "key" TEXT);
CREATE TABLE "hanabi_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "japaneseName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "month" INTEGER NOT NULL,
    "date" TEXT NOT NULL,
    "displayDate" TEXT NOT NULL,
    "time" TEXT,
    "duration" TEXT,
    "fireworksCount" TEXT,
    "expectedVisitors" TEXT,
    "weather" TEXT,
    "ticketPrice" TEXT,
    "status" TEXT,
    "themeColor" TEXT,
    "location" TEXT NOT NULL,
    "venues" JSONB,
    "access" JSONB,
    "viewingSpots" JSONB,
    "history" JSONB,
    "tips" JSONB,
    "contact" JSONB,
    "mapInfo" JSONB,
    "weatherInfo" JSONB,
    "media" JSONB,
    "related" JSONB,
    "walkerPlusUrl" TEXT,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "verificationDate" DATETIME,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "tags" JSONB,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "hanabi_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE "matsuri_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "japaneseName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "month" INTEGER NOT NULL,
    "date" TEXT NOT NULL,
    "displayDate" TEXT NOT NULL,
    "time" TEXT,
    "duration" TEXT,
    "expectedVisitors" TEXT,
    "status" TEXT,
    "location" TEXT NOT NULL,
    "matsuriType" TEXT,
    "traditionLevel" INTEGER,
    "venues" JSONB,
    "access" JSONB,
    "history" JSONB,
    "tips" JSONB,
    "contact" JSONB,
    "mapInfo" JSONB,
    "media" JSONB,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "verificationDate" DATETIME,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "matsuri_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE "momiji_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "season" TEXT NOT NULL,
    "peakTime" TEXT,
    "location" TEXT NOT NULL,
    "momijiVarieties" JSONB,
    "colorStatus" TEXT,
    "lightUp" BOOLEAN NOT NULL DEFAULT false,
    "access" JSONB,
    "tips" JSONB,
    "contact" JSONB,
    "mapInfo" JSONB,
    "media" JSONB,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "momiji_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE "illumination_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "season" TEXT NOT NULL,
    "period" TEXT,
    "location" TEXT NOT NULL,
    "lightingTheme" TEXT,
    "ledCount" TEXT,
    "operatingHours" TEXT,
    "access" JSONB,
    "tips" JSONB,
    "contact" JSONB,
    "mapInfo" JSONB,
    "media" JSONB,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "illumination_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE "culture_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "category" TEXT NOT NULL,
    "period" TEXT,
    "location" TEXT NOT NULL,
    "artistInfo" JSONB,
    "venue" TEXT,
    "ticketInfo" JSONB,
    "access" JSONB,
    "tips" JSONB,
    "contact" JSONB,
    "mapInfo" JSONB,
    "media" JSONB,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "culture_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE "validation_results" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "regionCode" TEXT NOT NULL,
    "fieldName" TEXT NOT NULL,
    "localValue" TEXT,
    "externalValue" TEXT,
    "isConsistent" BOOLEAN NOT NULL,
    "confidenceScore" REAL NOT NULL DEFAULT 0.0,
    "notes" TEXT,
    "validationDate" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE "external_raw_data" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "regionCode" TEXT NOT NULL,
    "eventType" TEXT NOT NULL,
    "sourceType" TEXT NOT NULL,
    "rawHtml" TEXT,
    "parsedData" JSONB NOT NULL,
    "sourceUrl" TEXT NOT NULL,
    "scrapeDate" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE "hanami_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "eventId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "englishName" TEXT,
    "chineseName" TEXT,
    "japaneseName" TEXT,
    "year" INTEGER NOT NULL DEFAULT 2025,
    "season" TEXT NOT NULL,
    "peakTime" TEXT,
    "location" TEXT NOT NULL,
    "venue" TEXT,
    "address" TEXT,
    "organizer" TEXT,
    "price" TEXT,
    "website" TEXT,
    "description" TEXT,
    "sakuraVarieties" JSONB,
    "bloomStatus" TEXT,
    "lightUp" BOOLEAN NOT NULL DEFAULT false,
    "access" TEXT,
    "tips" JSONB,
    "contact" TEXT,
    "mapInfo" JSONB,
    "media" JSONB,
    "likes" INTEGER NOT NULL DEFAULT 0,
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "detailLink" TEXT,
    "regionId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "hanami_events_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES "regions" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE UNIQUE INDEX "regions_code_key" ON "regions"("code");
CREATE UNIQUE INDEX "hanabi_events_eventId_key" ON "hanabi_events"("eventId");
CREATE UNIQUE INDEX "matsuri_events_eventId_key" ON "matsuri_events"("eventId");
CREATE UNIQUE INDEX "momiji_events_eventId_key" ON "momiji_events"("eventId");
CREATE UNIQUE INDEX "illumination_events_eventId_key" ON "illumination_events"("eventId");
CREATE UNIQUE INDEX "culture_events_eventId_key" ON "culture_events"("eventId");
CREATE UNIQUE INDEX "hanami_events_eventId_key" ON "hanami_events"("eventId");
CREATE UNIQUE INDEX "regions_key_key" ON "regions"("key");
INSERT OR IGNORE INTO '_prisma_migrations'(_rowid_, 'id', 'checksum', 'finished_at', 'migration_name', 'logs', 'rolled_back_at', 'started_at', 'applied_steps_count') VALUES (1, '80dc957e-2db8-4ea4-89fb-3e7e50d9e1ba', '99c11cbf3547a6feb0b64f4bcdbab5709631c2811026f038aab6b55a5be6b407', 1750583331802, '20250620131134_init', NULL, NULL, 1750583331747, 1);
INSERT OR IGNORE INTO 'regions'(_rowid_, 'id', 'code', 'nameJa', 'nameCn', 'nameEn', 'createdAt', 'updatedAt', 'key') VALUES (1, 'cmc7g8ga90000vlyg09megbno', 'tokyo', 'µ¥▒Σ║¼Θâ╜', 'Σ╕£Σ║¼Θâ╜', 'Tokyo', 1750583529586, 1750583529586, NULL);
CREATE INDEX "hanabi_events_month_idx" ON "hanabi_events"("month");
CREATE INDEX "hanabi_events_regionId_idx" ON "hanabi_events"("regionId");
CREATE INDEX "hanabi_events_featured_idx" ON "hanabi_events"("featured");
CREATE INDEX "hanabi_events_verified_idx" ON "hanabi_events"("verified");
CREATE INDEX "matsuri_events_month_idx" ON "matsuri_events"("month");
CREATE INDEX "matsuri_events_regionId_idx" ON "matsuri_events"("regionId");
CREATE INDEX "momiji_events_regionId_idx" ON "momiji_events"("regionId");
CREATE INDEX "illumination_events_regionId_idx" ON "illumination_events"("regionId");
CREATE INDEX "culture_events_regionId_idx" ON "culture_events"("regionId");
CREATE INDEX "culture_events_category_idx" ON "culture_events"("category");
CREATE INDEX "validation_results_eventId_eventType_idx" ON "validation_results"("eventId", "eventType");
CREATE INDEX "validation_results_validationDate_idx" ON "validation_results"("validationDate");
CREATE INDEX "validation_results_isConsistent_idx" ON "validation_results"("isConsistent");
CREATE INDEX "external_raw_data_eventId_idx" ON "external_raw_data"("eventId");
CREATE INDEX "external_raw_data_scrapeDate_idx" ON "external_raw_data"("scrapeDate");
CREATE INDEX "external_raw_data_sourceType_idx" ON "external_raw_data"("sourceType");
CREATE INDEX "hanami_events_regionId_idx" ON "hanami_events"("regionId");
PRAGMA writable_schema = off;
COMMIT;
